
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1468568480'); /* IE9*/
  src: url('iconfont.eot?t=1468568480#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1468568480') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1468568480') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1468568480#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiahao:before { content: "\e605"; }
.icon-dianhua:before { content: "\e606"; }
.icon-shizhong:before { content: "\e607"; }
.icon-fangdajing:before { content: "\e601"; }
.icon-shizhong1:before { content: "\e608"; }
.icon-iconfonthot:before { content: "\e609"; }
.icon-zanzan:before { content: "\e60a"; }
.icon-dibiao:before { content: "\e60b"; }
.icon-iconfontsuo:before { content: "\e60c"; }
.icon-laba:before { content: "\e60d"; }
.icon-liuyanguanli:before { content: "\e60e"; }
.icon-wujiaoxing:before { content: "\e60f"; }
.icon-pingfen:before { content: "\e602"; }
.icon-gengduo:before { content: "\e603"; }
.icon-maikefeng:before { content: "\e610"; }
.icon-iconzhenghe31:before { content: "\e604"; }
.icon-tianxie:before { content: "\e611"; }
.icon-youjiantou:before { content: "\e615"; }
.icon-fanhuijianzuo:before { content: "\e600"; }
.icon-liuyan:before { content: "\e612"; }
.icon-yaochi01:before { content: "\e613"; }
.icon-fasong:before { content: "\e614"; }
